[submodule "3d-bounding-box-estimation-for-autonomous-driving"]
	path = 3d-bounding-box-estimation-for-autonomous-driving
	url = https://github.com/lzccccc/3d-bounding-box-estimation-for-autonomous-driving
